spelp/trunk/remote/WebContent/wsdl/WizardServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.spelp.wilos" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.spelp.wilos" xmlns:intf="http://webservices.spelp.wilos" xmlns:tns1="http://role.model.woops2" xmlns:tns2="http://breakdownelement.model.woops2" xmlns:tns3="http://element.model.woops2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.spelp.wilos" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://role.model.woops2"/>
   <import namespace="http://breakdownelement.model.woops2"/>
   <import namespace="http://element.model.woops2"/>
   <element name="getRolesByUser">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRolesByUserResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getRolesByUserReturn" type="tns1:RoleDescriptor"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://element.model.woops2" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://role.model.woops2"/>
   <import namespace="http://breakdownelement.model.woops2"/>
   <import namespace="http://webservices.spelp.wilos"/>
   <complexType name="Element">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://breakdownelement.model.woops2" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://role.model.woops2"/>
   <import namespace="http://element.model.woops2"/>
   <import namespace="http://webservices.spelp.wilos"/>
   <complexType name="BreakdownElement">
    <complexContent>
     <extension base="tns3:Element">
      <sequence>
       <element name="hasMultipleOccurrences" nillable="true" type="xsd:boolean"/>
       <element name="isOptional" nillable="true" type="xsd:boolean"/>
       <element name="isPlanned" nillable="true" type="xsd:boolean"/>
       <element name="prefix" nillable="true" type="xsd:string"/>
       <element name="superActivities" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://role.model.woops2" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://breakdownelement.model.woops2"/>
   <import namespace="http://element.model.woops2"/>
   <import namespace="http://webservices.spelp.wilos"/>
   <complexType name="RoleDefinition">
    <complexContent>
     <extension base="tns3:Element">
      <sequence>
       <element name="roleDescriptors" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RoleDescriptor">
    <complexContent>
     <extension base="tns2:BreakdownElement">
      <sequence>
       <element name="additionalTasks" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
       <element name="primaryTasks" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
       <element name="roleDefinition" nillable="true" type="tns1:RoleDefinition"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRolesByUserRequest">

      <wsdl:part element="impl:getRolesByUser" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRolesByUserResponse">

      <wsdl:part element="impl:getRolesByUserResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WizardServices">

      <wsdl:operation name="getRolesByUser">

         <wsdl:input message="impl:getRolesByUserRequest" name="getRolesByUserRequest"/>

         <wsdl:output message="impl:getRolesByUserResponse" name="getRolesByUserResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WizardServicesSoapBinding" type="impl:WizardServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getRolesByUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRolesByUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRolesByUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WizardServicesService">

      <wsdl:port binding="impl:WizardServicesSoapBinding" name="WizardServices">

         <wsdlsoap:address location="http://localhost:9014/remote/services/WizardServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
